$line-height: 1.3;
$line-height-small: $line-height * .9;
$line-height-large: $line-height * 1.1;

$static-font-size: 20px;
$static-font-size-small: $static-font-size * 0.9;
$static-whitespace: $static-font-size * $line-height;

$responsive-breakpoint: 910px;

$responsive-font-size: 2.2vmax;
$responsive-font-size-small: $responsive-font-size * 0.9;
$responsive-whitespace: $responsive-font-size * $line-height;

$font-scale-start: 1.25;
$font-scale-ratio: 1.5;
$margin-scale-start: 1.66;
$margin-scale-ratio: 1.66;

$font-stack-1: 'Amiri', serif;
$font-stack-2: 'Amiri', serif;
$font-stack-3: Andale Mono, "Lucida Console", monospace;

$color-background: #f8f4f2;
$color-text: #181412;
$color-text-light: #383432;
$color-action: #f00;
