html,
body {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    padding-bottom: 40vh;
}

.header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin-bottom: 20vh;
    padding: 17.5vh 10vw;
    background: $color-text-light;
    color: $color-background;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .66);
}

.header > *:nth-child(1) {
    margin: 0;
}

.align-right {
    text-align: right;
}

.margin-none {
    margin-top: 0;
}

.fullscreen {
    margin: 15vh 0;
}

.table-of-contents {
    margin: auto;
    max-width: 66vw;
    padding: 5vh 0;

    h2 {
        margin-top: -5vh;
    }
}

.table-of-contents-item {
    display: block;
    padding: 1rem .25rem .9rem .25rem;
    border-bottom: 1px solid rgba(0, 0, 0, .33);
    color: $color-text-light;
    transition: all .1s ease;

    &:hover,
    &:active,
    &:focus {
        margin-right: -1.5rem;
        padding-left: 1.5rem;
        text-decoration: none;
    }
}

blockquote {
    margin: 15vh 0;

    > img {
        max-height: 90vh;
        max-width: 90vw;
    }

    > p {
        max-width: 80vw;
        padding: 0;
        line-height: $line-height-small;
        font-size: 150%;
        font-style: normal;
    }
}

pre {
    border: none;
    > * {
        font-family: $font-stack-1;
    }
}

p,
ol,
ul,
pre,
figcaption {
    max-width: 60vw;
    margin: $responsive-whitespace auto;
    padding-left: 12.5vw;
}

p {
    text-indent: 1.5rem;
}

img {
    display: block;
    max-width: 100%;
    max-height: 90vh;
    margin: auto;
}
