<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en"}}">
{% include head.html %}

<body>
    <div class="header">
        <h1>{{ site.title | escape }}</h1>
        <h2>{{ site.subtitle | escape }}</h2>
        <br>
        <h3 class="align-right">{{ site.author | escape }}</h3>
        <h3 class="align-right margin-none">{{ site.publish_date | escape }}</h3>
    </div>

    <div class="table-of-contents">
        <h2>Table of Contents</h2>
        {% for item in site.chapters %}
        <a class="table-of-contents-item" href="{{ item.url | relative_url }}">
            {{ item.title | escape }}
        </a>
        {% endfor %}
    </div>
</body>
</html>
